<!doctype html>
<meta charset="utf-8">
<style media="screen">
#text {
  width: 25%;
  float: left;
  margin-top: 7%;
  margin-left: 3%;
}

#viz {
  width: 65%;
  float: right;
  margin: 0 auto;
}
</style>

<script src="d3.js"></script>
<script src="d3plus.js"></script>

<div id="text">
  <h2>Boxplot</h2>
  <p>Data can be drawn using a Box and Whisker Plot, which helps highlight outliers and give a quick snapshot of the different quartiles of the dataset. This example includes a .ui( ) control that shows the difference between a Box and Whisker and a standard Scatter Plot.</p>
  <a href="https://d3plus.org/examples/basic/78018ce8c3787d4e30d9/">Boxplot on D3plus</a>
</div>

<div id="viz"></div>

<script>

    // d3.json("data.json", function(error, ourdata) {
    d3.json("titanic.json", function(error, ourdata) {
      if (error) return console.error(error);
      make_viz(ourdata);
    });

    function make_viz(data){
      var visualization = d3plus.viz()
          .container("#viz")
          .data(data)
          .type("box") // Escoge el tipo de visualizacion
          .x("") // Escoge la variable en el eje de las X (Categoria)
          .y("") // Escoge la variable en el eje de las y (Valores numericos)
          .id("") // Escoge el id o label de los datos
          // .time('year') // Parametro opcional para identificar la evolucion en el tiempo: si los datos poseen temporalidad
          .draw()

          //// Sugerencia
          //x, alive
          //y, fare
          //id, sex
    }

</script>
