<!doctype html>
<meta charset="utf-8">
<style media="screen">
<title>SCATTER</title>

#text {
  width: 25%;
  font-size: 3em;
  float: left;
  margin-top: 7%;
  margin-left: 3%;
}

#viz {
  width: 100%;
  float: right;
  margin: 0 auto;
}

.d3plus_data {
  width: 30px;
  height: 30px;
}

.d3plus_label {
  font-size: 0.3em;
  fill: rgba(0,0,0,1);
}
</style>

<script src="d3.js"></script>
<script src="d3plus.js"></script>

<div id="text">
  <h2>Scatter plot</h2>
  <p>A simple Scatter Plot visualization that displays data across an X and Y axis.</p>
  <a href="https://d3plus.org/examples/basic/9029781/">Scatter plot on D3plus</a>
</div>

<div id="viz"></div>

<script>

d3.json("countries.json", function(error, ourdata) {
  if (error) return console.error(error);
  make_viz(ourdata);
});

function make_viz(data){
  var visualization = d3plus.viz()
  .container("#viz")
  .data(data)
  .type("scatter")
  .id("type") // identificador unico de los datos
  .x("industria") // variable eje x
  .y("serivicios") // variable eje y
  .draw()
}

//// Recomendacion
// id, type
// x, industria
// y, servicios

</script>
